* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section#headerAllChat {
  background-color: #B263FF;
  .buton {
    background-color: inherit;
    border: inherit;
    font-size: 22px;
  }
  .color {
    color: #eeeeee;
    &:hover {
      color: #0e5ae9;
      transition: .3s;
    }
  }
  
}
ul {
  list-style: none;
}
section#chatList {
  ul {
    list-style: none;
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #eeeeee;
    }
    .image {
      border: 5px solid #B263FF;
      border-radius: 50%;
      width: 200px;
      aspect-ratio: 1;
    }
  }
}
.words {
  &:hover {
    color: #0e5ae9;
    transition: .3s;
  }
}

.wordss {
  color: #eeeeee;
  &:hover {
    color: #0e5ae9;
    transition: .3s;
  }
}


section#headerChatPage {
  .container {
    background-color: #B263FF;
  }
}

section#mainChatPage {
  .top {
    height: calc(100vh - 170px);
  }
  .container {
    background-color: #B263FF;
  }
}

.offcanvasUl {
  background-color: #B263FF;
  li {
    &:hover {
      color: #0e5ae9;
      transition: .3s;
    }
  }
}

.sss {
  margin-bottom: 0px ; 
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  a{
    font-size: 22px;
    color: black;
    text-decoration: none;
  }
}